<%= form_with(model: cashier, local: true) do |form| %>
  <% if cashier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cashier.errors.count, "error") %> prohibited this cashier from being saved:</h2>

      <ul>
      <% cashier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cashier_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
